name: flutterkaigi_2025_website
description: A new Jaspr project
version: 0.0.1
publish_to: none
resolution: workspace

environment:
  sdk: ^3.10.0-209.1.beta

dependencies:
  bff_client:
    path: ../../packages/bff_client
  dio: ^5.8.0+1
  intl: ^0.20.2
  jaspr: ^0.20.0
  jaspr_router: ^0.7.1

dev_dependencies:
  build_runner: ^2.4.15
  jaspr_builder:
    git:
      url: https://github.com/schultek/jaspr.git
      ref: 827dd3c6ab0dc3018d17eb36b6f7f7a390a6da99
      path: packages/jaspr_builder
  jaspr_web_compilers: ^4.2.1
  lints: ^6.0.0
  test: ^1.25.15

dependency_overrides:
  analyzer_plugin: ^0.13.0

jaspr:
  mode: static
